#marginleft {
  margin-left: 10px;
}

#accountModalContent {
  margin: 0 auto;
  width: 75%;
}

.modal_input {
  width: 100%;
  margin-bottom: 10px;
}

.leyenda {
  font-size: 14px;
  margin-bottom: 0px;
}

.error_login {
  font-size: 14px;
  color: red;
  font-weight: 500;
  margin-bottom: 5px;
}

#cartModalContent {
  margin: 0 auto;
  width: 80%;
}

.cart-modal_product_title {
  font-size: large;
}

.cart-modal_product_price {
  font-size: medium;
}

#cartTotalH5 {
  margin-bottom: -5px;
}

.gap-10px {
  gap: 10px;
}

.cart-modal_product {
  height: 6vh;
}

.btn_remove-cart {
  font-size: small;
}

@media screen and (min-width: 992px) {
  .card-responsive {
    min-width: 250px;
  }
}

@media screen and (min-width: 510px) and (max-width:991px) {
  .card-responsive {
    min-width: 200px;
  }
}